<section class="table">
    <section class="line">
      <ul>
        <p class="name">Nombre</p>
      </ul>
      <ul>
        <p class="edit">Editorial</p>
      </ul>
      <ul>
        <p class="autor">Autor</p>
      </ul>
      <ul>
        <p class="edic">Edición</p>
      </ul>
    </section>
    <section class="value">
      <!-- <div> -->
      <ul>
        <p class="name">{{}}</p>
      </ul>
      <ul>
        <p class="edit">Editorial</p>
      </ul>
      <ul>
        <p class="autor">Autor</p>
      </ul>
      <ul>
        <p class="edic">Edición</p>
      </ul>
      
    <!-- </div> -->
    
    </section>
    
  </section>